/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* Apply global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #E6E6FA;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 8rem;
  color: #7280ff;
}

/* Style scoreboard */
.scoreboard {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.scoreboard > div {
  font-size: 2rem;
  margin: 0 1rem;
  padding: 0.5rem;
  border: 2px solid #fbaf32;
  border-radius: 10px;
  color: #7280ff;
}

/* Style choices */
.choices {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.choice {
  border: 2px solid #fbaf32;
  border-radius: 10px;
  margin: 0 2rem;
  padding: 2rem;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  transform: scale(1.1);
}

.choice:active {
  transform: scale(0.9);
}

.choice i {
  color: #7280ff;
  font-size: 50px;
}

/* Style result */
.result {
  text-align: center;
  font-size: 2rem;
  margin-top: 2rem;
  color: #7280ff;
}

#computer-choice {
  text-align: center;
  font-size: 2rem;
  color: #7280ff;
}

/* Style timer */
.timer {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
  color: #7280ff;
}

/* Style play again button */
.play-again {
  display: block;
  margin: 3rem auto 1rem auto;
  padding: 1rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #7280ff;
  color: #FFFFFF;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.play-again:hover {
  background-color: #993366;
}

.logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}


.logo img {
	height: 100px;
	width: auto;
	display: block;
}

.play-again:active {
  transform: scale(0.9);
}

/* Add responsive design */
@media only screen and (max-width: 600px) {
  .choices {
    flex-wrap: wrap;
  }

  .choice {
    margin: 2rem 1rem;
  }

  .timer {
    margin-top: 1rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 5px;
  background-color: #abbaba;
  color: #000;
}

.image-wrapper {
  text-align: center;
}

.image-wrapper img {
  display: block;
  margin: 0 auto;
}

/* Add your existing CSS */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  max-width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Additional styles for your modal content */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-content {
  /* Existing styles */
  text-align: center; /* Add this line to center-align the content */
}

.modal-content img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Add this line to horizontally center the image */
}
.modal-content form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #0056b3;
}